---
const {raindropUri = 'https://raindrop.io/vojtek-nowak/food-for-thought-62612689/embed/sort=-created', fullyCollapsed = false} = Astro.props;

---
<section class="food-for-thought" data-fully-collapsed={fullyCollapsed}>
  <button
    id="toggleButton"
    class="btn"
  ></button>
  <iframe style="height: 0px;" allowfullscreen frameborder="0" title="Food for thought" src={raindropUri}></iframe>
</section>

<script>
    const button = document.getElementById('toggleButton');
    const iframe = document.querySelector('iframe');
    const container = document.querySelector('.food-for-thought');
    const fullyCollapsed = container.getAttribute('data-fully-collapsed') === 'true';
    let expanded = false;

    const handleVisibility = () => {
        iframe.style.height = expanded ? '500px' : (fullyCollapsed ? '0px' : '53px');
        iframe.style.border = expanded ? '1px solid' : (fullyCollapsed ? 'none' : '1px solid');
        button.textContent = expanded ? '📫Hide food-for-thought' : '📭 Show food-for-thought: curated links worth your time';
    }
    handleVisibility();

    button.addEventListener('click', () => {
        expanded = !expanded;
        console.log(`button @click`, {
            expanded,
        })
        handleVisibility();
    });
</script>

<style>
  .food-for-thought {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .food-for-thought #toggleButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .food-for-thought iframe {
    width: 100%;
    transition: height 0.3s ease-in-out;
    border-radius: 20px;
    border: 1px solid;
  }
</style>